{% extends 'account/base.html' %}
{% load static %}

{% block content %}

    <!-- START HEADER AREA -->
    <header class="welcome-area">
        <div class="container">
            <div class="row border-bottom-line">
                <div class="col-md-3 col-xs-4 col-sm-4">
                    <!-- START LOGO  AREA -->
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
                    </div>
                    <!-- END LOGO  AREA -->
                </div>
                <div class="col-md-5 col-xs-8 col-sm-8">
                    <!-- START MENU  AREA -->
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Our Collection<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% for d in request.session.data %}
                                            <li><a href="{% url 'product' name=d.name %}">{{d.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a class="smooth-scroll" href="{% url 'home' %}#ourstory">Our Story</a></li>
                                    <li><a class="smooth-scroll" href="https://fatimasmails.wixsite.com/coffeehouse" target="_blank">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END MENU  AREA -->
                </div>
                <div class="col-md-2 col-xs-8 col-sm-6">
                    <div class="search-area">
                        <form class="form-inline" method="POST" action="{% url 'search' %}" enctype="multipart/form-data">
                            <input class="form-control" type="search" name="searchstring" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 text-right col-sm-6">
                    <div class="header-menu-cart-option">
                        <ul>
                            <li class="user-click-option"><a href=""><i class="fa fa-user-circle"></i></a>
                                <div class="user-area">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'userprofile' %}">Profile</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                                        <li><a href="{% url 'account_login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            <li class="head-shhoping-cart"><a href=""><i class="fa fa-shopping-bag"></i></a>
                                {% if has_item %}
                                <div class="head-cart">
                                    <h2 class="border-line"><i class="fas fa-check"></i> Successfully updated {{cart.name}} to bag!</h2>
                                    <h3>Your Bag </h3>
                                    <div class="head-cart-item">
                                        <img src="{% static '' %}{{cart.image_link}}" alt="">
                                        <h2>{{cart.name}}</h2>
                                        <h2>Quantity: {{cart.quantity}}</h2>
                                        <p>Total Excluding Delivery : ${{cart.subtotal}}<br>Spend $5.00 more for Free Delivery!</p>
                                        <a class="shopping-bag-cart" href="{% url 'bag' %}">Go to shopping bag </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="head-cart">
                                    <h2 class="border-line"> Your cart is empty!</h2>
                                    <a class="shopping-bag-cart" href="{% url 'home' %}#collection">Shop now</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                        {% if messages %}
                                {% for message in messages %}
                                <div class="toast-body">
                                    <strong style="color: green;">{{ message }}</strong>
                                </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row header-top-part">
                <!-- START ACCOUNT  AREA -->
                <div class="col-md-12">
                    <h1>Profile</h1>
                    <div class="single-account">
                        <p>Delivery Information</p>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="POST" action="{% url 'addprofile' %}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" name="full_name" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Name">
                                        <input type="text" name="phone_number" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Phone Number">
                                        <select name="country" class="selectpicker countrypicker" data-flag="true"></select>
                                        <input name="postcode" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Postal Code">
                                        <input type="text" name="town_or_city" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Town or City">
                                        <input type="text" name="street_address1" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Street Address 1">
                                        <input type="text" name="street_address2" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Street Address 2">
                                    </div>
                                    <div class="add-button">
                                        <button type="submit" class="btn btn-primary">Update information</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-information text-center">
                                    <h2>Personal Information</h2>
                                    <ul>
                                        <li> <strong>Username</strong>:</strong> {{user.username}}</li>
                                        <li> <strong>E-mail:</strong> {{user.email}}</li>
                                        {% if has_profile %}
                                            <li> <strong>Full Name:</strong> {{profile.full_name}}</li>
                                            <li> <strong>Phone Number:</strong> {{profile.phone_number}}</li>
                                            <li> <strong>Country:</strong> {{profile.country}}</li>
                                            <li> <strong>Town or City:</strong> {{profile.town_or_city}}</li>
                                            <li> <strong>Address:</strong> {{profile.street_address1}}</li>
                                        {% endif %}
                                    </ul>
                                    <div class="add-button">
                                        <a href="{% url 'changepassword' %}">Change password</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- / END ACCOUNT  AREA -->
            </div>
        </div>
    </header>
    <!-- / END HEADER AREA -->


{% endblock %}>
