{% extends 'account/base.html' %}
{% load static %}

{% block content %}

    <!-- START HEADER AREA -->
    <header class="welcome-area">
        <div class="container">
            <div class="row border-bottom-line">
                <div class="col-md-3 col-xs-4 col-sm-4">
                    <!-- START LOGO  AREA -->
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- END LOGO  AREA -->
                </div>
                <div class="col-md-5 col-xs-8 col-sm-8">
                    <!-- START MENU  AREA -->
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Our Collection<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% for d in request.session.data %}
                                            <li><a href="{% url 'product' name=d.name %}">{{d.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a class="smooth-scroll" href="{% url 'home' %}#ourstory">Our Story</a></li>
                                    <li><a class="smooth-scroll" href="https://fatimasmails.wixsite.com/coffeehouse" target="_blank">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END MENU  AREA -->
                </div>
                <div class="col-md-2 col-xs-8 col-sm-6">
                    <div class="search-area">
                        <form class="form-inline">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 text-right col-sm-6">
                    <div class="header-menu-cart-option">
                        <ul>
                            <li class="user-click-option"><a href=""><i class="fa fa-user-circle"></i></a>
                                <div class="user-area">
                                    <ul>
                                        <li><a href="{% url 'account_login' %}">Login</a></li>
                                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="head-shhoping-cart"><a href=""><i class="fa fa-shopping-bag"></i></a>
                                {% if has_item %}
                                <div class="head-cart">
                                    <h2 class="border-line"><i class="fas fa-check"></i> Successfully updated {{cart.name}} to bag!</h2>
                                    <h3>Your Bag </h3>
                                    <div class="head-cart-item">
                                        <img src="{% static '' %}{{cart.image_link}}" alt="">
                                        <h2>{{cart.name}}</h2>
                                        <h2>Quantity: {{cart.quantity}}</h2>
                                        <p>Total Excluding Delivery : ${{cart.subtotal}}<br>Spend $5.00 more for Free Delivery!</p>
                                        <a class="shopping-bag-cart" href="{% url 'bag' %}">Go to shopping bag </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="head-cart">
                                    <h2 class="border-line"> Your cart is empty!</h2>
                                    <a class="shopping-bag-cart" href="{% url 'home' %}#collection">Shop now</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row header-top-part">
                <!-- START ACCOUNT  AREA -->
                <div class="col-md-8 col-md-offset-2">
                    <h1>faq</h1>
                    <div class="single-account">
                        <p>Delivery</p>

                        <div class="faq-item">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                How long does the delivery take?
                            </button>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    You will receive a confirmation e-mail immediately after placing your order. Orders are shipped within 5 business days.
                                </div>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                                Where is my order?
                            </button>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                    Once your order has been dispatched you will receive a shipping confirmation email and tracking number to track your order.
                                </div>
                            </div>
                        </div>
                        <div class="faq-item">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                How can I cancel my order?
                            </button>
                            <div class="collapse" id="collapseExample3">
                                <div class="card card-body">
                                    Once your order is placed andsaved to our system for quick processing therefore we can’t make any changes before shipping.
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Returns</p>
                        <div class="faq-item">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                                What is your return policy?
                            </button>
                            <div class="collapse" id="collapseExample4">
                                <div class="card card-body">
                                    Unfortunately we don’t offer returns and refunds.If your order is damaged when delivered, we ask you to contact us directly with photos of the damage. Our Customer Care will process your message as soon as possible for you to send your order back for free and get a full refund.
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Other questions? <a href="contact.html">Contact us.</a></p>
                    </div>
                </div>
                <!-- / END ACCOUNT  AREA -->
            </div>
        </div>
    </header>
    <!-- / END HEADER AREA -->


{% endblock %}>
