{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- START HEADER AREA -->
    <header class="welcome-area shop-item">
        <div class="container">
            <div class="row border-bottom-line">
                <div class="col-md-3 col-xs-4 col-sm-4">
                    <!-- START LOGO  AREA -->
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- END LOGO  AREA -->
                </div>
                <div class="col-md-5 col-xs-8 col-sm-8">
                    <!-- START MENU  AREA -->
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Our Collection<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% for d in request.session.data %}
                                            <li><a href="{% url 'product' name=d.name %}">{{d.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a class="smooth-scroll" href="{% url 'home' %}#ourstory">Our Story</a></li>
                                    <li><a class="smooth-scroll" href="https://fatimasmails.wixsite.com/coffeehouse" target="_blank">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END MENU  AREA -->
                </div>
                <div class="col-md-2 col-xs-8 col-sm-6">
                    <div class="search-area">
                        <form class="form-inline" method="POST" action="{% url 'search' %}" enctype="multipart/form-data">
                            <input class="form-control" type="search" name="searchstring" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4 text-right col-sm-6">
                    <div class="header-menu-cart-option">
                        <ul>
                            <li class="user-click-option"><a href=""><i class="fa fa-user-circle"></i></a>
                                <div class="user-area">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'userprofile' %}">Profile</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                                        <li><a href="{% url 'account_login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            <li class="head-shhoping-cart"><a href=""><i class="fa fa-shopping-bag"></i></a>
                                {% if has_item %}
                                
                                <div class="head-cart">
                                    <h2 class="border-line"><i class="fas fa-check"></i> Successfully updated {{cart.name}} to bag!</h2>
                                    <h3>Your Bag </h3>
                                    {% for cart in carts %}
                                    <div class="head-cart-item">
                                        <img src="{% static '' %}{{cart.image_link}}" alt="">
                                        <h2>{{cart.name}}</h2>
                                        <h2>Quantity: {{cart.quantity}}</h2>
                                        <p>Total Excluding Delivery : ${{cart.subtotal}}<br>Spend $5.00 more for Free Delivery!</p>
                                        <a class="shopping-bag-cart" href="{% url 'bag' %}">Go to shopping bag </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="head-cart">
                                    <h2 class="border-line"> Your cart is empty!</h2>
                                    <a class="shopping-bag-cart" href="{% url 'home' %}#collection">Shop now</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row header-top-part">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                       <div class="col-md-6">
                            <div class="product-image">
                                <img src="{% static '' %}{{image}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="products-description">
                                <h1>{{product.name}}</h1>
                                <h2> <i class="fa fa-check-circle"></i> Available</h2>
                                <h3>$ {{product.price}}</h3>
                                <p>{{product.description}}</p>
                                <form method="POST" action="{% url 'add_item' product_id=product.id %}" enctype="multipart/form-data">
                                    <input type="hidden" name="price" value="{{product.price}}">
                                <div class="input-group" style="width:50%">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white btn-minuse" id="sub" onclick="decremaentValue()" type="button">-</button>
                                    </span>
                                    <input type="text" name="quantity" id="number" class="form-control no-padding add-color text-center height-25" maxlength="3" value="1" min="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-red btn-pluss" id="add" onclick="incrementValue()" type="button">+</button>
                                    </span>
                                </div>
                                <div class="add-button">
                                    <button type="submit" class="btn btn-primary">Add to Bag</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- / END HEADER AREA -->

    <script type="text/javascript">
       function incrementValue()
        {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('number').value = value;
        }

        function decremaentValue()
        {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value--;
            if (value < 1) {
                new_val = 1;
            } else {
                new_val = value;
            }

            document.getElementById('number').value = new_val;
        }
    </script>

{% endblock %}>
